body{
  background-color: #434643;
}
h1{
  color: black;
  text-align: center;
  height:10vh;
  padding:10vh;
}
#carnets{
  text-align: center;
  background-color: #434643;
}
#contact{
  background-color: #434643;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 3px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  flex-shrink: 0;
}
.test{
  font-size: 20px;
}
#form_add_contact{
  font-size: 20px;
  color:black;
}
#form_update_contact{
  font-size: 20px;
}

ul {
  list-style-type : none;
}
.card{
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.card-body{
  background-color: #c4c3b9;
  color:black;
}
